In [1]:
import pandas as pd, numpy as np

In [2]:
data=pd.read_csv("adult.data", header=None)
data.columns=["age", "workclass", "fnlwgt", "education", "education-num",
"marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      48842 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48842 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
data = data.replace(" ?", np.NaN)
data.dropna(inplace=True)
data.index=[i for i in range(data.shape[0])]
data=data.replace(" <=50K.", "<=50K")
data=data.replace(" >50K.", ">50K")
data=data.replace(" <=50K", "<=50K")
data=data.replace(" >50K", ">50K")
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
45218,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
45219,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
45220,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
45221,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [5]:
[len(np.unique(data[i])) for i in data]

[74, 7, 26741, 16, 16, 7, 14, 6, 5, 2, 121, 97, 96, 41, 2]

In [151]:
def binarize(data):
    bind=pd.DataFrame()
    for i in data:
        if type(data[i].values[0])==str:
            if len(np.unique(data[i]))==2:
                bind[i]=np.zeros(data.shape[0])
                bind.loc[data[i]==np.unique(data[i])[1], [i]]=1
            else:
                for j in np.unique(data[i]):
                    bind[i+"_"+j]=np.zeros(data.shape[0])
                    bind.loc[data[i]==j, [i+"_"+j]]=1
    #             bind[i+'x']=np.zeros(data.shape[0])
    #             bind.loc[data[i]=='x', [i+'x']]=1
        else: bind[i]=data[i]
    return bind

In [152]:
beta=binarize(data)
# beta.loc[beta["income"]=="<=50K", ["income"]]=1
# beta.loc[beta["income"]==">50K", ["income"]]=0
beta

,age,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,fnlwgt,education_ 10th,...,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,income
0,39,0.0,0.0,0.0,0.0,0.0,1.0,0.0,77516,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,50,0.0,0.0,0.0,0.0,1.0,0.0,0.0,83311,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,38,0.0,0.0,1.0,0.0,0.0,0.0,0.0,215646,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,53,0.0,0.0,1.0,0.0,0.0,0.0,0.0,234721,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,28,0.0,0.0,1.0,0.0,0.0,0.0,0.0,338409,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,33,0.0,0.0,1.0,0.0,0.0,0.0,0.0,245211,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
45218,39,0.0,0.0,1.0,0.0,0.0,0.0,0.0,215419,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
45219,38,0.0,0.0,1.0,0.0,0.0,0.0,0.0,374983,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
45220,44,0.0,0.0,1.0,0.0,0.0,0.0,0.0,83891,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
45221,35,0.0,0.0,0.0,1.0,0.0,0.0,0.0,182148,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [153]:
income=beta["income"]
income

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
45217    0.0
45218    0.0
45219    0.0
45220    0.0
45221    1.0
Name: income, Length: 45222, dtype: float64

In [154]:
beta=beta.drop(["income"], axis=1)
beta

,age,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,fnlwgt,education_ 10th,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,0.0,0.0,0.0,0.0,0.0,1.0,0.0,77516,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,50,0.0,0.0,0.0,0.0,1.0,0.0,0.0,83311,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,38,0.0,0.0,1.0,0.0,0.0,0.0,0.0,215646,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,53,0.0,0.0,1.0,0.0,0.0,0.0,0.0,234721,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,28,0.0,0.0,1.0,0.0,0.0,0.0,0.0,338409,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,33,0.0,0.0,1.0,0.0,0.0,0.0,0.0,245211,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45218,39,0.0,0.0,1.0,0.0,0.0,0.0,0.0,215419,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45219,38,0.0,0.0,1.0,0.0,0.0,0.0,0.0,374983,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45220,44,0.0,0.0,1.0,0.0,0.0,0.0,0.0,83891,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45221,35,0.0,0.0,0.0,1.0,0.0,0.0,0.0,182148,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [155]:
X_pos=beta.loc[income==1]
X_neg=beta.loc[income==0]
X_pos.index=[i for i in range(X_pos.shape[0])]
X_neg.index=[i for i in range(X_neg.shape[0])]
y_pos=income.loc[income==1]
y_neg=income.loc[income==0]
y_pos.index=[i for i in range(X_pos.shape[0])]
y_neg.index=[i for i in range(y_neg.shape[0])]
X_pos

,age,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,fnlwgt,education_ 10th,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,52,0.0,0.0,0.0,0.0,1.0,0.0,0.0,209642,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,31,0.0,0.0,1.0,0.0,0.0,0.0,0.0,45781,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,42,0.0,0.0,1.0,0.0,0.0,0.0,0.0,159449,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,37,0.0,0.0,1.0,0.0,0.0,0.0,0.0,280464,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,30,0.0,0.0,0.0,0.0,0.0,1.0,0.0,141297,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11203,60,0.0,0.0,1.0,0.0,0.0,0.0,0.0,117909,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11204,38,0.0,0.0,1.0,0.0,0.0,0.0,0.0,149347,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11205,43,0.0,1.0,0.0,0.0,0.0,0.0,0.0,23157,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11206,40,0.0,0.0,1.0,0.0,0.0,0.0,0.0,202168,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11207,35,0.0,0.0,0.0,1.0,0.0,0.0,0.0,182148,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [156]:
from sklearn.model_selection import train_test_split
test_size=0.05
_, X_pos, _, y_pos=train_test_split(X_pos, y_pos, test_size=test_size)
_, X_neg, _, y_neg=train_test_split(X_neg, y_neg, test_size=test_size)

In [157]:
X_pos

,age,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,fnlwgt,education_ 10th,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
3521,48,0.0,0.0,1.0,0.0,0.0,0.0,0.0,105838,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3501,46,0.0,0.0,1.0,0.0,0.0,0.0,0.0,144351,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11098,53,0.0,0.0,0.0,1.0,0.0,0.0,0.0,195398,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4991,40,0.0,0.0,1.0,0.0,0.0,0.0,0.0,225660,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6269,49,0.0,0.0,1.0,0.0,0.0,0.0,0.0,168211,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10712,33,0.0,0.0,1.0,0.0,0.0,0.0,0.0,304833,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4988,35,0.0,1.0,0.0,0.0,0.0,0.0,0.0,302149,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3308,30,0.0,1.0,0.0,0.0,0.0,0.0,0.0,182926,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
253,58,0.0,1.0,0.0,0.0,0.0,0.0,0.0,205267,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6506,57,0.0,0.0,0.0,1.0,0.0,0.0,0.0,127728,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [158]:
X_pos.index=[i for i in range(X_pos.shape[0])]
X_neg.index=[i for i in range(X_neg.shape[0])]
y_pos.index=[i for i in range(X_pos.shape[0])]
y_neg.index=[i for i in range(y_neg.shape[0])]
X_pos

,age,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,fnlwgt,education_ 10th,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,48,0.0,0.0,1.0,0.0,0.0,0.0,0.0,105838,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,46,0.0,0.0,1.0,0.0,0.0,0.0,0.0,144351,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,53,0.0,0.0,0.0,1.0,0.0,0.0,0.0,195398,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,40,0.0,0.0,1.0,0.0,0.0,0.0,0.0,225660,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,49,0.0,0.0,1.0,0.0,0.0,0.0,0.0,168211,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556,33,0.0,0.0,1.0,0.0,0.0,0.0,0.0,304833,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
557,35,0.0,1.0,0.0,0.0,0.0,0.0,0.0,302149,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
558,30,0.0,1.0,0.0,0.0,0.0,0.0,0.0,182926,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
559,58,0.0,1.0,0.0,0.0,0.0,0.0,0.0,205267,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
560,57,0.0,0.0,0.0,1.0,0.0,0.0,0.0,127728,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [159]:
from sklearn.model_selection import train_test_split
test_size=0.025
X_train_pos, X_test_pos, y_train_pos,  y_test_pos = train_test_split(X_pos, y_pos, test_size=test_size)
X_train_neg, X_test_neg, y_train_neg, y_test_neg = train_test_split(X_neg, y_neg, test_size=test_size)

In [160]:
X_test_pos

,age,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,fnlwgt,education_ 10th,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
95,41,0.0,0.0,1.0,0.0,0.0,0.0,0.0,106679,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,49,0.0,0.0,1.0,0.0,0.0,0.0,0.0,168211,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
276,46,0.0,1.0,0.0,0.0,0.0,0.0,0.0,326292,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
58,37,0.0,0.0,1.0,0.0,0.0,0.0,0.0,82576,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
123,43,0.0,0.0,1.0,0.0,0.0,0.0,0.0,180096,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
264,40,0.0,0.0,1.0,0.0,0.0,0.0,0.0,176063,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
362,44,0.0,0.0,1.0,0.0,0.0,0.0,0.0,219155,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
457,38,0.0,0.0,1.0,0.0,0.0,0.0,0.0,108726,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
56,31,0.0,0.0,1.0,0.0,0.0,0.0,0.0,339482,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
476,56,0.0,1.0,0.0,0.0,0.0,0.0,0.0,277203,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
240,54,0.0,0.0,1.0,0.0,0.0,0.0,0.0,146325,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
222,29,0.0,0.0,0.0,1.0,0.0,0.0,0.0,206903,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
119,50,0.0,0.0,1.0,0.0,0.0,0.0,0.0,98815,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
31,36,0.0,0.0,1.0,0.0,0.0,0.0,0.0,167482,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
128,50,0.0,0.0,1.0,0.0,0.0,0.0,0.0,98350,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [161]:
def inter_bin(x, y):
    return x*y

In [162]:
def inter_cat(x,y):
    return np.array(list(set((np.append(np.array(x),y)))))

In [163]:
def inter_num(x, y):
    return [np.min([x, y]), np.max([x, y])]

In [164]:
def inter(x,y, meta):
    res=[]
    for i in range(len(x)):
        if meta[i]=="bin":
            res.append(inter_bin(x[i], y[i]))
        elif meta[i]=="cat":
            res.append(inter_cat(x[i], y[i]))
        elif meta[i]=="num":
            res.append(inter_num(x[i], y[i]))
        else:
            raise Exception(str("Unknown metadata passed: "+meta[i]+" please use one of the following: bin, num, cat"))
    return np.array(res, dtype=object)

In [165]:
def isin(x, y, meta):
#     z=inter(x, y, meta)
#     print(z)
    res=True
    for i in range(len(x)):
        if meta[i]=="bin":
            res*=(y[i]>=x[i])
        elif meta[i]=="cat":
            res*=(y[i] in x[i])
        elif meta[i]=="num":
            res*=(x[i][0]<=y[i]<=x[i][1])
        else:
            raise Exception(str("Unknown metadata passed: "+meta[i]+" please use one of the following: bin, num, cat"))
        if not res: return res
    return res

In [166]:
def support(x, cl, meta):
    return np.mean([isin(x, i, meta) for i in cl])

In [167]:
def conf(x, y, meta, numdiff=0):
#     print(x, y)
    res=[]
    for i in range(len(x)):
        if meta[i]=="bin" or meta[i]=="cat":
            res.append(int(x[i]==y[i]))
        elif meta[i]=="num":
            res.append(int(abs(x[i]-y[i])<=numdiff))
        else:
            raise Exception(str("Unknown metadata passed: "+meta[i]+" please use one of the following: bin, num, cat"))
    return np.mean(res)

In [168]:
print([(i, beta.columns[i]) for i in range(len(beta.columns))])

[(0, 'age'), (1, 'workclass_ Federal-gov'), (2, 'workclass_ Local-gov'), (3, 'workclass_ Private'), (4, 'workclass_ Self-emp-inc'), (5, 'workclass_ Self-emp-not-inc'), (6, 'workclass_ State-gov'), (7, 'workclass_ Without-pay'), (8, 'fnlwgt'), (9, 'education_ 10th'), (10, 'education_ 11th'), (11, 'education_ 12th'), (12, 'education_ 1st-4th'), (13, 'education_ 5th-6th'), (14, 'education_ 7th-8th'), (15, 'education_ 9th'), (16, 'education_ Assoc-acdm'), (17, 'education_ Assoc-voc'), (18, 'education_ Bachelors'), (19, 'education_ Doctorate'), (20, 'education_ HS-grad'), (21, 'education_ Masters'), (22, 'education_ Preschool'), (23, 'education_ Prof-school'), (24, 'education_ Some-college'), (25, 'education-num'), (26, 'marital-status_ Divorced'), (27, 'marital-status_ Married-AF-spouse'), (28, 'marital-status_ Married-civ-spouse'), (29, 'marital-status_ Married-spouse-absent'), (30, 'marital-status_ Never-married'), (31, 'marital-status_ Separated'), (32, 'marital-status_ Widowed'), (33, 'occupation_ Adm-clerical'), (34, 'occupation_ Armed-Forces'), (35, 'occupation_ Craft-repair'), (36, 'occupation_ Exec-managerial'), (37, 'occupation_ Farming-fishing'), (38, 'occupation_ Handlers-cleaners'), (39, 'occupation_ Machine-op-inspct'), (40, 'occupation_ Other-service'), (41, 'occupation_ Priv-house-serv'), (42, 'occupation_ Prof-specialty'), (43, 'occupation_ Protective-serv'), (44, 'occupation_ Sales'), (45, 'occupation_ Tech-support'), (46, 'occupation_ Transport-moving'), (47, 'relationship_ Husband'), (48, 'relationship_ Not-in-family'), (49, 'relationship_ Other-relative'), (50, 'relationship_ Own-child'), (51, 'relationship_ Unmarried'), (52, 'relationship_ Wife'), (53, 'race_ Amer-Indian-Eskimo'), (54, 'race_ Asian-Pac-Islander'), (55, 'race_ Black'), (56, 'race_ Other'), (57, 'race_ White'), (58, 'sex'), (59, 'capital-gain'), (60, 'capital-loss'), (61, 'hours-per-week'), (62, 'native-country_ Cambodia'), (63, 'native-country_ Canada'), (64, 'native-country_ China'), (65, 'native-country_ Columbia'), (66, 'native-country_ Cuba'), (67, 'native-country_ Dominican-Republic'), (68, 'native-country_ Ecuador'), (69, 'native-country_ El-Salvador'), (70, 'native-country_ England'), (71, 'native-country_ France'), (72, 'native-country_ Germany'), (73, 'native-country_ Greece'), (74, 'native-country_ Guatemala'), (75, 'native-country_ Haiti'), (76, 'native-country_ Holand-Netherlands'), (77, 'native-country_ Honduras'), (78, 'native-country_ Hong'), (79, 'native-country_ Hungary'), (80, 'native-country_ India'), (81, 'native-country_ Iran'), (82, 'native-country_ Ireland'), (83, 'native-country_ Italy'), (84, 'native-country_ Jamaica'), (85, 'native-country_ Japan'), (86, 'native-country_ Laos'), (87, 'native-country_ Mexico'), (88, 'native-country_ Nicaragua'), (89, 'native-country_ Outlying-US(Guam-USVI-etc)'), (90, 'native-country_ Peru'), (91, 'native-country_ Philippines'), (92, 'native-country_ Poland'), (93, 'native-country_ Portugal'), (94, 'native-country_ Puerto-Rico'), (95, 'native-country_ Scotland'), (96, 'native-country_ South'), (97, 'native-country_ Taiwan'), (98, 'native-country_ Thailand'), (99, 'native-country_ Trinadad&Tobago'), (100, 'native-country_ United-States'), (101, 'native-country_ Vietnam'), (102, 'native-country_ Yugoslavia')]

In [169]:
met=["bin" for i in range(len(beta.columns))]
met[0]="num"
met[8]="num"
met[25]="num"
met[59]="num"
met[60]="num"
met[61]="num"

In [170]:
def classify(x, X_pos, X_neg, min_conf, minsup, aconf, meta, numdif=0):
    cont_pos=0
    sup_pos=0
    npos=0
    minsuppos=np.inf
    maxsuppos=0
    mincontpos=np.inf
    maxcontpos=0
    
    for i in X_pos:
        z=inter(i, x, meta)
        c=conf(i, x, meta, numdif)
#         print(c)
        if c>=min_conf:
#             print("c")
            return 1
        
        
        
        if c>=aconf:
#             print(c)
            sup=support(z, X_pos, meta)
            if sup>=minsup:
                return 1
            cont=support(z, X_neg, meta)
            cont_pos+=cont
            sup_pos+=sup
            npos+=1
            minsuppos=min(minsuppos, sup)
            maxsuppos=max(maxsuppos, sup)
            mincontpos=min(mincontpos, cont)
            maxcontpos=max(maxcontpos, cont)
    #     print("+")
    
    cont_neg=0
    sup_neg=0
    nneg=0
    minsupneg=np.inf
    maxsupneg=0
    mincontneg=np.inf
    maxcontneg=0
    
    for i in X_neg:
        z=inter(i, x, meta)
        c=conf(i, x, meta, numdif)
        if c>=min_conf:
            return 0
        
        if c>=aconf:
#             print(c)
            sup=support(z, X_neg, meta)
            if sup>=minsup:
                return 0
            cont=support(z, X_pos, meta)
            cont_neg+=cont
            sup_neg+=sup
            nneg+=1
            minsupneg=min(minsupneg, sup)
            maxsupneg=max(maxsupneg, sup)
            mincontneg=min(mincontneg, cont)
            maxcontneg=max(maxcontneg, cont)      
#     print("-")
    
    
#     cont_pos/=npos
#     sup_pos/=npos
#     cont_neg/=nneg
#     sup_neg/=nneg
#     print(cont_pos,sup_pos, cont_neg,sup_neg)
#     print(minsupneg,
#             maxsupneg,
#             mincontneg,
#             maxcontneg,"\n" ,minsuppos,
#             maxsuppos,
#             mincontpos,
#             maxcontpos)
#     print(cont_pos,sup_pos, cont_neg,sup_neg)
    if sup_pos!=0 and sup_neg!=0:
        return int(cont_pos/sup_pos<cont_neg/sup_neg)
    elif sup_pos==0 or sup_neg==0 and not sup_pos==sup_neg:
        return int(sup_pos/X_pos.shape[0]>sup_neg/X_neg.shape[0])
    else: return int(cont_pos/X_pos.shape[0]<cont_neg/X_neg.shape[0])
#     return int(maxcontpos<maxcontneg)
#     return int(maxsuppos>maxsupneg)

In [171]:
%time classify(X_test_pos.loc[X_test_pos.index[1]].values, X_train_pos.values, X_train_neg.values, 0.98, 0.7, 0.7, met, 0)

Wall time: 32.6 s

1

In [172]:
%time classify(X_test_neg.loc[X_test_neg.index[1]].values, X_train_pos.values, X_train_neg.values, 0.98, 0.7, 0.7, met)

Wall time: 2min 10s

0

In [173]:
%time y=np.array([classify(X_test_pos.loc[i].values, X_train_pos.values, X_train_neg.values, 0.98, 0.7, 0.7, met) for i in X_test_pos.index])

Wall time: 42min 28s

In [ ]:
%time yn=np.array([classify(X_test_neg.loc[i].values, X_train_pos.values, X_train_neg.values, 0.98, 0.9, 0.7, met) for i in X_test_neg.index])

In [ ]:
def metrics(y, yn, y_true, yn_true):
    m=dict()
    FN=sum(y^y_true)
    FP=sum(yn^yn_true)
    TP=len(y_true)-FN
    TN=len(yn_true)-FP
    m["FN"]=FN
    m["FP"]=FP
    m["TP"]=TP
    m["TN"]=TN
    m["A"]=(TP+TN)/(FP+FN+TP+TN)
    m["TPR"]=TP/(TP+FN)
    m["TNR"]=TN/(TN+FP)
    m["NPV"]=TN/(TN+FN)
    m["PPV"]=TP/(TP+FP)
    m["FPR"]=FP/(FP+TN)
    m["FDR"]=FP/(FP+TP)
    m["P"]=1/2*(TP/(TP+FP)+TN/(TN+FN))
    m["R"]=1/2*(TP/(TP+FN)+TN/(TN+FP))
    return m

True Positive
True Negative
False Positive
False Negative
True Positive Rate
True Negative Rate
Negative Predictive Value
False Positive Rate
False Discovery Rate
Accuracy
Precision
Recall

In [ ]:
metrics(y, yn, np.array(y_test_pos, dtype=int), np.array(y_test_neg,  dtype=int))

In [65]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=10, shuffle=True)

In [66]:
a=0
# X_pos=beta.loc[win==1]
# X_neg=beta.loc[win==0]
# X_pos.index=[i for i in range(X_pos.shape[0])]
# X_neg.index=[i for i in range(X_neg.shape[0])]
# y_pos=win.loc[win==1]
# y_neg=win.loc[win==0]
# y_pos.index=[i for i in range(X_pos.shape[0])]
# y_neg.index=[i for i in range(y_neg.shape[0])]
l=[i for i in kf.split(X_pos)]
k=[i for i in kf.split(X_neg)]
for i in range(10):

    X_train_pos=X_pos.loc[l[i][0]]
    X_train_neg=X_neg.loc[k[i][0]]

    y_train_pos=y_pos.loc[l[i][0]]
    y_train_neg=y_neg.loc[k[i][0]]

    X_test_pos=X_pos.loc[l[i][1]]
    X_test_neg=X_neg.loc[k[i][1]]

    y_test_pos=y_pos.loc[l[i][1]]
    y_test_neg=y_neg.loc[k[i][1]]
    
    y=np.array([classify(X_test_pos.loc[i].values, X_train_pos.values, X_train_neg.values, 0.9, 0.9, 0.5, met) for i in X_test_pos.index])
    yn=np.array([classify(X_test_neg.loc[i].values, X_train_pos.values, X_train_neg.values, 0.9, 0.9, 0.5, met) for i in X_test_neg.index])
    a+=metrics(y, yn, np.array(y_test_pos, dtype=int), np.array(y_test_neg,  dtype=int))["A"]
    print(a)
a/10

c
c
c
c
c
c
c
0.591304347826087
c
c
c
c
c
c
c
1.1842247018083878
c
c
c
c
c
c
c
c
c
c
c
1.7948441708349363
c
c
c
c
c
c
c
c
2.3612158522508655
c
c
c
c
c
c
c
c
c
c
c
c
2.998383993843786
c
c
c
c
c
c
c
3.670950365525202
c
c
c
c
c
c
c
c
c
4.290419392073875
c
c
c
c
c
c
c
c
c
4.883339746056175
c
c
c
c
c
c
c
c
c
5.4851096575606
c
c
c
c
c
c
c
6.042631781454405

0.6042631781454405