In [1]:
import pandas as pd, numpy as np

In [2]:
data=pd.read_csv("tic-tac-toe.data")
data

     x x.1 x.2 x.3  o o.1 x.4 o.2 o.3  positive
0    x   x   x   x  o   o   o   x   o  positive
1    x   x   x   x  o   o   o   o   x  positive
2    x   x   x   x  o   o   o   b   b  positive
3    x   x   x   x  o   o   b   o   b  positive
4    x   x   x   x  o   o   b   b   o  positive
..  ..  ..  ..  .. ..  ..  ..  ..  ..       ...
952  o   x   x   x  o   o   o   x   x  negative
953  o   x   o   x  x   o   x   o   x  negative
954  o   x   o   x  o   x   x   o   x  negative
955  o   x   o   o  x   x   x   o   x  negative
956  o   o   x   x  x   o   o   x   x  negative

[957 rows x 10 columns]

In [3]:
data.shape

(957, 10)

In [4]:
def binarize(data):
    bind=pd.DataFrame()
    for i in data:
        if len(np.unique(data[i]))==2:
            bind[i]=np.zeros(data.shape[0])
            bind.loc[data[i]==np.unique(data[i])[1], [i]]=1
        elif len(np.unique(data[i]))>2:
#             for j in np.unique(data[i]):
#                 bind[i+"_"+j]=np.zeros(data.shape[0])
# #                 bind.loc[data[i]==j, [i+"_"+j]]=1
            bind[i+'x']=np.zeros(data.shape[0])
            bind.loc[data[i]=='x', [i+'x']]=1
#             bind[i]=data[i]
    return bind

In [5]:
beta=binarize(data)

In [6]:
beta

      xx  x.1x  x.2x  x.3x   ox  o.1x  x.4x  o.2x  o.3x  positive
0    1.0   1.0   1.0   1.0  0.0   0.0   0.0   1.0   0.0       1.0
1    1.0   1.0   1.0   1.0  0.0   0.0   0.0   0.0   1.0       1.0
2    1.0   1.0   1.0   1.0  0.0   0.0   0.0   0.0   0.0       1.0
3    1.0   1.0   1.0   1.0  0.0   0.0   0.0   0.0   0.0       1.0
4    1.0   1.0   1.0   1.0  0.0   0.0   0.0   0.0   0.0       1.0
..   ...   ...   ...   ...  ...   ...   ...   ...   ...       ...
952  0.0   1.0   1.0   1.0  0.0   0.0   0.0   1.0   1.0       0.0
953  0.0   1.0   0.0   1.0  1.0   0.0   1.0   0.0   1.0       0.0
954  0.0   1.0   0.0   1.0  0.0   1.0   1.0   0.0   1.0       0.0
955  0.0   1.0   0.0   0.0  1.0   1.0   1.0   0.0   1.0       0.0
956  0.0   0.0   1.0   1.0  1.0   0.0   0.0   1.0   1.0       0.0

[957 rows x 10 columns]

In [7]:
win=beta["positive"]
win

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
952    0.0
953    0.0
954    0.0
955    0.0
956    0.0
Name: positive, Length: 957, dtype: float64

In [8]:
beta=beta.drop(["positive"], axis=1)

In [9]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kf = KFold(n_splits=10, shuffle=True)

In [10]:
from sklearn.naive_bayes import BernoulliNB
nbc = BernoulliNB()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.7491885964912279, 0.05453853458231129)

In [11]:
from sklearn.naive_bayes import GaussianNB
nbc = GaussianNB()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.7116666666666667, 0.04455839237305401)

In [12]:
from sklearn.ensemble import RandomForestClassifier
nbc = RandomForestClassifier()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.99375, 0.01333984216131843)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
nbc = KNeighborsClassifier(n_neighbors=1)
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.9686951754385966, 0.018029880367460657)

In [14]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
nbc = LinearDiscriminantAnalysis()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.7303947368421053, 0.04029102636035502)

In [15]:
from sklearn.linear_model import LogisticRegression
nbc = LogisticRegression()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.7346929824561405, 0.03896971166442435)

In [16]:
from sklearn.svm import LinearSVC
nbc = LinearSVC()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.7313815789473684, 0.038273066760760394)

In [17]:
from sklearn.tree import DecisionTreeClassifier
nbc = DecisionTreeClassifier()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.9686293859649122, 0.018157076984933785)

In [18]:
from sklearn.ensemble import GradientBoostingClassifier
nbc = GradientBoostingClassifier()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.955109649122807, 0.02549384313930908)